<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="SERT results"
            id="de.fzi.power.sertresultimport.ImportWizard.ImportCategory">
      </category>
      <wizard
            name="Import XML results file"
            icon="icons/spec.png"
            category="de.fzi.power.sertresultimport.ImportWizard.ImportCategory"
            class="de.fzi.power.sertresultimport.wizard.ImportWizard"
            id="de.fzi.power.sertresultimport.wizard.ImportWizard">
         <description>
            Import the SERT XML results file from the local file system into an EDP2 Repository or into a CSV file.
         </description>
      </wizard>
   </extension>

</plugin>
